.img-subject {
        height: 25rem;
        width: 100%;
        object-fit: contain;
        object-position: top;
        margin: 2rem auto !important;
        align-items: center;
        border-radius: 10px;
}

ion-list {
        border-radius: 8px;
}

p {
        background-color: transparent;
}